# CakePHP 3

PHP_Log
mobile-connect-demo/composer.lock
mobile-connect-demo/vendor/*
mobile-connect-demo/config/app.php

mobile-connect-demo/tmp/cache/models/*
!mobile-connect-demo/tmp/cache/models/empty
mobile-connect-demo/tmp/cache/persistent/*
!mobile-connect-demo/tmp/cache/persistent/empty
mobile-connect-demo/tmp/cache/views/*
!mobile-connect-demo/tmp/cache/views/empty
mobile-connect-demo/tmp/sessions/*
!mobile-connect-demo/tmp/sessions/empty
mobile-connect-demo/tmp/tests/*
!mobile-connect-demo/tmp/tests/empty

mobile-connect-demo/logs/*
!mobile-connect-demo/logs/empty

mobile-connect-sdk/composer.lock
mobile-connect-sdk/vendor/*
mobile-connect-sdk/config/app.php

mobile-connect-sdk/tmp/cache/models/*
!mobile-connect-sdk/tmp/cache/models/empty
mobile-connect-sdk/tmp/cache/persistent/*
!mobile-connect-sdk/tmp/cache/persistent/empty
mobile-connect-sdk/tmp/cache/views/*
!mobile-connect-sdk/tmp/cache/views/empty
mobile-connect-sdk/tmp/sessions/*
!mobile-connect-sdk/tmp/sessions/empty
mobile-connect-sdk/tmp/tests/*
!mobile-connect-sdk/tmp/tests/empty

mobile-connect-sdk/logs/*
!mobile-connect-sdk/logs/empty

# CakePHP 2

mobile-connect-demo/app/tmp/*
mobile-connect-demo/app/Config/core.php
mobile-connect-demo/app/Config/database.php
mobile-connect-demo/vendors/*

mobile-connect-sdk/app/tmp/*
mobile-connect-sdk/app/Config/core.php
mobile-connect-sdk/app/Config/database.php
mobile-connect-sdk/vendors/*
